@model appPedidos.Models.Order
@{
    ViewData["Title"] = "Nuevo Pedido";
    var userRole = Context.Session.GetString("UserRole");
}

<h2 class="mb-4 text-center" style="color:#b76fdc;"><i class="bi bi-plus-circle"></i> Nuevo Pedido</h2>

@if (TempData["Error"] != null)
{
        <div class="alert alert-danger">@TempData["Error"]</div>
}

<div class="card mx-auto" style="max-width: 430px;">
    <div class="card-body">
        <form asp-action="Create" method="post">
            @if (userRole != "cliente")
            {
                    <div class="mb-3">
                        <label asp-for="ClienteId" class="form-label"></label>
                        <select asp-for="ClienteId" class="form-select" asp-items="ViewBag.ClienteId"></select>
                        <span asp-validation-for="ClienteId" class="text-danger"></span>
                    </div>
            }
            <button type="submit" class="btn btn-success w-100"><i class="bi bi-plus-circle"></i> Crear Pedido</button>
            <a asp-action="Index" class="btn btn-link mt-3"><i class="bi bi-arrow-left"></i> Cancelar</a>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}